/*header menu*/
#navigation {
    height:80px;
    padding:1%;
    display:flex;
    align-items: center;
    position: relative;
    background-color: #2071AF;
}

.logo {
    padding:1%;
    text-align:left;
}

.menu {
    position: absolute;
    right:0;
    letter-spacing: 0em;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* letter-spacing: .10em; */
    text-transform: lowercase;
    padding: 1%;
}

.menu1 {
    color: #FADA1F;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}
/* a:link {color:#FFFAFA;}      /* unvisited link */
/* a:visited {color:#FFFAFA;}  /* visited link */
/* a:hover {color:#FFFAFA;}  /* mouse over link */
/* a:active {color:#FFFAFA;}  /* selected link */

/*hero space*/
.content {
    font-family: 'Arapey';
    color: white;
    font-size: 14px;
    /*letter-spacing: .10em;*/
}

h2 {
    margin-left: 50px;
}

.heroImg {
    height:300px;
    background-color: #2071AF;
    width: 100%;
    /*padding: 0; */
}
/* main content & works*/
#works {
    background-color: #FBF3E8;
    height: 1000px;
}

.work-options {
    font-family: 'Arapey';
    text-align: center;
    color: black;
    padding: 5%;
}

.tag1 {
    padding: 2%;
}

.tag2 {
    padding: 2%;
}

/* work thumbnails*/
.thumbnails {
    /* position: relative; */
    /* height: 800px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; */ */
    display: grid;
    grid-template-rows: 600px 600px;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-areas: 
    ". project1 project2 ."
    ". project3 project4 .";
}

.project1 {
    box-sizing: border-box;
    height: 518px;
    width: auto;
    transform: scale(.5);
    /* position: absolute; */
    /* left: 0;
    top: 0; */
    /* padding: 2%; */
    grid-area: project1;
    transition: 0.3s;
    background: url(../images/Web\ 1920\ –\ 1.jpg) no-repeat;
}
/* hover state */
.project1:hover {
    background: url(../images/Web\ 1920\ –\ 4.jpg) no-repeat;
    /* box-shadow: 3px 3px; */
}

.project2 {
    box-sizing: border-box;
    height: 518px;
    width: auto;
    transform: scale(.5);
    padding: 2%;
    grid-area: project2;
    transition: 0.3s;
    background: url(../images/Web\ 1920\ –\ 2.jpg) no-repeat;
}

.project2:hover {
    background: url(../images/Web\ 1920\ –\ 5.jpg) no-repeat;
}

.project3 {
    /* position: inline-block; */
    box-sizing: border-box;
    height: 518px;
    width: auto;
    transform: scale(.5);
    padding: 2%;
    grid-area: project3;
    transition: 0.3s;
    background: url(../images/Web\ 1920\ –\ 3.jpg) no-repeat;
}

.project3:hover {
    background: url(../images/Web\ 1920\ –\ 6.jpg) no-repeat;
}

.project4 {
    /* position: inline-block; */
    box-sizing: border-box;
    height: 518px;
    width: auto;
    transform: scale(.5);
    padding: 2%;
    grid-area: project4;
    transition: 0.3s;
    background: url(../images/Web\ 1920\ –\ 1.jpg) no-repeat;
}

.project4:hover {
    background: url(../images/Web\ 1920\ –\ 4.jpg) no-repeat;
}

/* footer */
#footer {
    display: flex;
}

.footer-note {
    margin-left: 50px;
    display: flex;
    font-family: 'Arapey';
    font-weight: 400;
}

.social-media {
    position: absolute;
    right:0;
    letter-spacing: 0em;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    /* letter-spacing: .10em; */
    padding: 1%;
}

.menu2 {
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-right: 5px;
}